body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#canvas {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}