title Play #{title}
link(rel='stylesheet', href='/stylesheets/game.css')
script(type='text/javascript' src='/socket.io/socket.io.js')
script(type='text/javascript' src='/javascripts/game/core.js')
script(type='text/javascript' src='/javascripts/game/game.js')