title Play #{title}
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/game.css')
//Dependencies
script(type='text/javascript' src='/socket.io/socket.io.js')
script(type='text/javascript' src='/javascripts/game/utils/mathUtils.js')
//Libraries
script(type='text/javascript' src='/javascripts/game/lib/dat.gui.js')
script(type='text/javascript' src='/javascripts/game/lib/keyboard.js')
//Client
script(type='text/javascript' src='/javascripts/game/gameCore.js')
script(type='text/javascript' src='/javascripts/game/gameClient.js')
